<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>

        <ion-nav-bar class="bar-content">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon" aria-label="{{ 'mm.sidemenu.togglemenu' | translate }}"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="site">
        </ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left" id="mm-side-menu-left">
        <header>
            <div class="bar bar-header bar-side-menu">
                <a menu-close mm-user-link userid="{{siteinfo.userid}}" class="item item-avatar item-icon-right full-image">
                    <img ng-src="{{siteinfo.userpictureurl}}" alt="{{ 'mm.core.pictureof' | translate:{$a: siteinfo.fullname} }}" role="presentation" mm-external-content>
                    <h2>{{siteinfo.fullname}}</h2>
                    <p><mm-format-text watch="true">{{siteinfo.sitename}}</mm-format-text></p>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </header>
        <ion-content class="has-side-menu-header mm-sidemenu-menu">
            <nav>
                <ul class="list dark">
                    <li ng-if="showMyCourses" class="mm-mycourses-handler">
                        <a menu-close class="item item-icon-left" ui-sref="site.mm_courses" title="{{ 'mm.sidemenu.mycourses' | translate}}">
                            <i class="icon ion-ionic"></i>{{ 'mm.sidemenu.mycourses' | translate}}
                        </a>
                    </li>
                    <li class="item text-center" ng-if="(!handlers || !handlers.length) && !areNavHandlersLoaded()">
                        <ion-spinner></ion-spinner>
                    </li>
                    <li ng-repeat="handler in handlers | orderBy:'-priority'" ng-controller="handler.controller" class="mm-sidemenu-handler {{class}}">
                        <a menu-close class="item item-icon-left" ui-sref="{{state}}" title="{{title | translate}}" ng-class="{'item-icon-right': loading}">
                            <i class="icon {{icon}}"></i> {{title | translate}}
                            <span ng-show="!loading && badge" class="badge badge-positive">{{badge}}</span>
                            <ion-spinner ng-if="loading" class="icon"></ion-spinner>
                        </a>
                    </li>
<!--                    <li ng-repeat="item in customItems" class="mm-sidemenu-customitem">-->
<!--                        <a ng-if="item.type != 'embedded'" menu-close class="item item-icon-left" ng-href="{{item.url}}" mm-link in-app="{{item.type == 'inappbrowser'}}" title="{{item.label}}">-->
<!--                            <i class="icon {{item.icon}}"></i>{{item.label}}-->
<!--                        </a>-->
<!--                        <a ng-if="item.type == 'embedded'" menu-close class="item item-icon-left" ui-sref="site.iframe-view({title: item.label, url: item.url})" title="{{item.label}}">-->
<!--                            <i class="icon {{item.icon}}"></i>{{item.label}}-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li ng-if="showWeb">-->
<!--                        <a menu-close class="item item-icon-left" ng-href="{{siteinfo.siteurl}}" mm-link auto-login="yes" title="{{ 'mm.sidemenu.website' | translate}}">-->
<!--                            <i class="icon ion-earth"></i>{{ 'mm.sidemenu.website' | translate}}-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li ng-if="showHelp">-->
<!--                        <a menu-close class="item item-icon-left" ng-href="{{docsurl}}" mm-link auto-login="no" title="{{ 'mm.sidemenu.help' | translate}}">-->
<!--                            <i class="icon ion-help-buoy"></i>{{ 'mm.sidemenu.help' | translate}}-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="item item-divider"></li>-->
<!--                    <li>-->
<!--                        <a menu-close class="item item-icon-left" ui-sref="site.mm_settings" title="{{ 'mm.sidemenu.appsettings' | translate}}">-->
<!--                            <i class="icon ion-gear-b"></i>{{ 'mm.sidemenu.appsettings' | translate}}-->
<!--                        </a>-->
<!--                    </li>-->
                    <li>
                        <a class="item item-icon-left" ng-click="logout()" title="{{ 'mm.sidemenu.changesite' | translate}}">
                            <i class="icon ion-log-out"></i>{{ logoutLabel | translate}}
                        </a>
                    </li>
                </ul>
            </nav>

        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right" id="mm-side-menu-right" is-enabled="rightSideMenu && rightSideMenu.show">
        <ng-include ng-if="rightSideMenu && rightSideMenu.show" src="rightSideMenu.template"></ng-include>
    </ion-side-menu>
</ion-side-menus>
