<ion-view view-title="{{ 'mma.calendar.calendarevents' | translate }}">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-funnel" ng-show="courses && courses.length" ng-click="pickCourse($event)" aria-label="{{ 'mm.courses.filter' | translate }}"></button>
        <mm-context-menu>
            <mm-context-menu-item priority="600" ng-show="notificationsEnabled" ui-sref="site.calendar-settings" content="'mm.settings.settings' | translate" action="openSettings()" icon-action="'ion-gear-b'"></mm-context-menu-item>
        </mm-context-menu>
    </ion-nav-buttons>
    <mm-split-view load-when="eventsLoaded" component="mmaCalendarEventsList" menu-state="site.calendar">
        <ion-content mm-state-class delegate-handle="mmaCalendarEventsListScroll">
            <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="eventsLoaded" on-refresh="refreshEvents()">
            </ion-refresher>
            <mm-loading hide-until="eventsLoaded">
                <ul class="list">
                    <li ng-if="filtered.length == 0" class="item">{{ 'mma.calendar.noevents' | translate }}</li>
                    <li ng-repeat="event in events | filter:filterEvent as filtered">
                        <a class="item item-media item-text-wrap" mm-split-view-link="site.calendar-event({id: event.id})" title="{{event.name}}">
                            <img ng-src="{{event.icon}}">
                            <h2><mm-format-text watch="true">{{event.name}}</mm-format-text></h2>
                            <p>{{ event.timestart | mmToLocaleString }}</p>
                        </a>
                    </li>
                </ul>

                <ion-infinite-scroll ng-if="canLoadMore" on-infinite="loadMoreEvents()" >
                </ion-infinite-scroll>
            </mm-loading>
        </ion-content>
    </mm-split-view>
</ion-view>
