<ion-view view-title="{{ 'mm.settings.sites' | translate }}">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-edit" ng-click="toggleDelete()" ng-show='data.hasSites'></button>
<!--     <button class="button button-icon ion-plus" ng-click="add()"></button>-->
  </ion-nav-buttons>
  <ion-content mm-state-class>
      <ion-list show-delete="data.showDelete">
        <ion-item ng-repeat="site in sites track by site.id" class="item item-thumbnail-left item-remove-animate" ng-click="login(site.id)">
          <ion-delete-button class="ion-trash-a" ng-click='onItemDelete($event, $index)'></ion-delete-button>
          <img class="avatar" ng-src="{{site.avatar}}" mm-external-content siteid="site.id" alt="{{ 'mm.core.pictureof' | translate:{$a: site.fullname} }}" role="presentation">
          <h2>{{site.fullname}}</h2>
          <p><mm-format-text clean="true" watch="true">{{site.sitename}}</mm-format-text></p>
          <p>{{site.siteurl}}</p>
          <span ng-show="!data.showDelete && site.badge" class="badge badge-positive">{{site.badge}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

